/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@font-face {
    font-family: glyphicon;
    src: url('../../fonts/glyphicons-halflings-regular.woff');
}
@font-face {
    font-family: FontAwesome;
    src: url('../../fonts/font-awesome/fontawesome-webfont.woff');
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    margin: 0 auto;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.TopNavBar {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*padding: 0 100px;*/
    width: 100%;
    height: 39px;
    background-color: #d8d8d8;

}

.container.property-header {
    padding: 0 50px;
}

.select-country {
    border: 0;
    background-color: #d8d8d8;
    width: auto;
}

.auth-section {

}
.container-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 50px;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;
}
.auth-section > a {
    position: relative;
    font-size: 14px;
    margin-right: 20px;
    text-align: left;
    color: #4a4a4a;
}

.auth-section > a:after {
    display: block;
    content: " ";
    position: absolute;
    top: 5px;
    right: -10px;
    border-top: 5px solid transparent;
    border-left: 5px solid #4a4a4a;
    border-bottom: 5px solid transparent;
}

.MainNavigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: #70118a;
}
.menu-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.MainNavigation  a {
    color: white;
    font-weight: 600;
    margin-right: 40px;
    display: block;

}

.property-header {
    padding: 0 100px;
}

.property-header .inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(151,151,151, 0.25);
}

.property-header .second-menu {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    align-items: center;
    width: 100%;
}

.second-menu > a {
    color: #4a4a4a;
    font-size: 20px;
}

.main-logo {
    background: url('../img/logo.jpg') no-repeat center;
    height: 100px;
    width: 200px;
}

.list-property {
    line-height: 44px;
    width: 170px;
    height: 44px;
    border-radius: 5px;
    background-color: #70118a;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: normal;
    color: #fff;
    position: relative;
    padding-left: 15px;
    cursor: pointer;
}
.list-property:after {
    content: "\e081";
    font-family: glyphicon;
    position: absolute;
    right: 10px;
    color: #d9534f;
}

.header-filter {
    border-radius: 7px;
    background-color: #70118a;
    width: 100%;
    padding: 25px 78px;
}
.header-filter h3 {
    font-family: Arial;
    font-size: 24px;
    color: white;
    text-align: center;
    margin: 0;
}
.inputs-block {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.24);
    padding-bottom: 30px;
}

.input-wrapper input {
    height: 43px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 0 0 #ececec;
    border: solid 1px #cccccc;
    font-family: HelveticaNeue;
    font-size: 18px;
    color: #b0b0b0;
    padding: 0 10px;
    width: 100%;
}
.input-wrapper select {
    height: 43px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 0 0 #ececec;
    border: solid 1px #cccccc;
    font-family: HelveticaNeue;
    font-size: 18px;
    color: #b0b0b0;
    padding: 0 10px;
    width: 100%;
}
.search button {
    height: 43px;
    border-radius: 5px;
    background-color: #d43f3a;
    border: 1px solid #d43f3a;
    width: 135px;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.input-wrapper:nth-child(1) {
    width: 266px;
    position: relative;
}
.input-wrapper:nth-child(1) input {
    padding-left: 50px;
}

.input-wrapper .search-icon {
    width: 47px;
    height: 43px;
    border-radius: 5px;
    background-color: #eeeeee;
    border: solid 1px #cccccc;
    display: block;
    position: absolute;
    text-align: center;
    line-height: 43px;
    top: 0;
    color: #9d9d9d;
    font-size: 20px;
}

.input-wrapper:nth-child(2) {
    width: 135px;
}
.input-wrapper:nth-child(3) {
    width: 182px;
}

.bottom-inputs .input-wrapper {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.inputs-block.bottom-inputs select {
    height: 41px;
}

.inputs-block.bottom-inputs button {
    height: 41px;
    width: 69px;
    border-radius: 5px;
    background-color: #d43f3a;
    border: 1px solid #d43f3a;
}

.inputs-block.bottom-inputs {
    justify-content: center;
    width: 90%;
    border-bottom: 0;
}
.input-wrapper .quick-search-new {
    display: block;
    margin-left: auto;
    font-family: Arial;
    font-size: 18px;
    color: white;
}

.bottom-inputs .input-wrapper:nth-child(2) {
    width: 200px;
}

.bottom-inputs .input-wrapper:nth-child(3) {
    width: 157px;
}
.input-wrapper button span:after {
    content: '\e003';
    font-family: glyphicon;
    color: white;
    font-size: 22px;
}

.input-wrapper .quick-search-new span:after {
    content: '\e080';
    font-family: glyphicon;
    color: white;
    font-size: 18px;
}
.input-wrapper .quick-search-new span:nth-child(2) {
    margin-left: -7px;
}

.logos-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 35px 0px;
}

.logos-select {
    width: 100%;
}
.logos-select .input-wrapper {
    width: 100%;
}
.logos-select .input-wrapper select {
    height: 50px;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, #f2f2f2, #d4d4d4);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 0 #ffffff;
    border: solid 1px #979797;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    color: #4a4a4a;
}

.logos-block .container-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.image-wrapper {
    max-width: 144px;
    height: 56px;
    display: flex;
    align-items: center;
}
.image-wrapper img {
    width: 100%;
}


/*content block*/
.content-block {
    margin-top: 35px;
}
.content-block h2 {
    font-family: Arial;
    font-size: 24px;
    text-align: left;
    color: #4a4a4a;
    width: 100%;
    margin-bottom: 20px;
}
.content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.content-element {
    width: 32%;
    max-width: 370px;
    height: 229px;
    background-color: #d8d8d8;
    border: solid 1px #979797;
    margin-bottom: 20px;
}
.content-block .container-wrapper:nth-child(2) {
    margin-top: 20px;
}
.content-block .container-wrapper {
    max-width: 1250px;
}
.select-block {
    margin-top: 40px;
}

footer {
    margin-top: 70px;
}

footer .container-wrapper {
    max-width: 1250px;
    justify-content: space-between;
}

.footer-top {
    background-color: #70118a;
    padding: 20px 5px;
}
.footer-bottom {
    background-color: #4a4a4a;
    height: 50px;
}
.footer-bottom .copyright {
    font-family: Arial;
    font-size: 14px;
    color: white;
}
.links a {
    font-family: Arial;
    font-size: 14px;
    color: white;
    margin-left: 15px;
}
.footer-top .container-wrapper {
    align-items: flex-start;
}
.footer-top .links-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.footer-top .signup-block {
    width: 30%;
}
.links-wrapper {
    width: 25%;
}
.links-wrapper h3 {
    font-family: Arial;
    font-size: 18px;
    text-align: left;
    color: #ffffff;
}
.links-wrapper ul {
    margin-left: 0;
    padding-left: 0;
    margin-top: 30px;
}
.links-wrapper ul li{
    list-style-type: none;
    padding: 2px 0;
}
.links-wrapper ul li a {
    font-family: Arial;
    font-size: 14px;
    color: white;
}

.signup-block h3 {
    font-family: Arial;
    font-size: 18px;
    text-align: left;
    color: #ffffff;
}
.social-connect ul {
    margin-left: 0;
    padding-left: 0;
    margin-top: 20px;
}
.social-connect li {
    display: inline-block;
    margin-right: 20px;
}
.social-connect li a {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 32px;
    color: #70118a;
    font-size: 20px;
}
.signup-input-block {
    display: flex;
    align-items: center;
    width: 100%;
    height: 43px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 0 0 #ececec;
    border: solid 1px #cccccc;
}
.signup-input-block button {
    width: 101px;
    height: 32px;
    border-radius: 4px;
    background-color: #d9534f;
    border: solid 1px #d43f3a;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: white;
}
.signup-input-block input {
    border: 0;
    font-family: Arial;
    font-size: 14px;
    color: #9b9b9b;
    height: 43px;
    padding: 0 15px;
    width: calc(100% - 110px);
}
.signup-input-block form {
    width: 100%;
}
.logos-select select {
    text-align: center;
    text-align-last: center;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
