﻿/***********tab*************/
/* Tab Content - menucool.com */

ul.tabs
{
    padding: 4px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: left; font-family: 'Roboto Condensed', sans-serif;
	border-bottom:1px solid#2885e2; /*set to left, center, or right to align the tabs as desired*/
}
        
ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:3px; font-family: 'Roboto Condensed', sans-serif; /*distance between tabs*/
}
        
ul.tabs li a
{
    font: normal 12px Verdana;
    text-decoration: none;
    position: relative;
    padding: 7px 16px;    
    border-bottom-color:#B7B7B7;
    color: #000;
    border-radius: 3px 3px 0 0;
    outline:none; font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	padding: 5px 15px 5px 15px;
}
        
ul.tabs li a:visited
{
    color: #000; font-family: 'Roboto Condensed', sans-serif; 

}
        
ul.tabs li a:hover
{
    
    background:#F0F0F0 url(tabbg.gif) 0 -36px repeat-x; font-family: 'Roboto Condensed', sans-serif;
}
        
ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;	
    background: white;    
    border-bottom-color: white;
	background-color:#2885e2;
	color:#FFF; font-family: 'Roboto Condensed', sans-serif;
	border-radius:3px !important;
}
        
        
ul.tabs li.selected a:hover
{
    text-decoration: none; font-family: 'Roboto Condensed', sans-serif;
	
}
     

div.tabcontents
{
     padding: 30px;
    background-color:#FFF;
    border-radius: 0 3px 3px 3px; font-family: 'Roboto Condensed', sans-serif;
}
.tabhead{font-family: 'Roboto Condensed', sans-serif; font-size:16px; font-weight:bold; color:#4d4e50; }
/***********************************************************************************************************************************************/
.car-detail-margin
{ margin-top:82px;}

form_main {
    width: 100%;
}
.form_main h4 {
    
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}
.heading {
    border-bottom: 1px solid #2885e2;
    padding-bottom: 10px;
    position: relative;
	font-family: 'Roboto Condensed', sans-serif;
}
.heading span {
    background: #2885e2 none repeat scroll 0 0;
    bottom: -2px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 75px;
	font-family: 'Roboto Condensed', sans-serif;
}   
.form {
    border-radius:7px !important;
	font-family: 'Roboto Condensed', sans-serif;
}
char-detail-form
{ font-size: 14px !important;
    line-height: 1 !important;}
.txt[type="text"] {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	    border-radius: 3px !important;
}
.txt_3[type="text"] {
    margin: 10px 0 0;
    padding: 10px 0 10px 5px;
    width: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	border: 1px solid #ccc;
    border-radius: 3px !important;
}
.txt2[type="submit"] {
    background: #2885E2 none repeat scroll 0 0;
    border: 1px solid #4f5c04;
    border-radius: 4px  !important;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 30px;
    margin: 20px 0;
    padding: 0;
    width: 30%;
	font-family: 'Roboto Condensed', sans-serif;
}
.txt2:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #5793ef;
    transition: all 0.5s ease 0s;
	font-family: 'Roboto Condensed', sans-serif;
}



/*******************tab*****************/