/* Tab Content - menucool.com */
ul.tabs
{
    padding: 15px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: center; /*set to left, center, or right to align the tabs as desired*/
}
        
ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:4px; /*distance between tabs*/
}
        
ul.tabs li a {
    font: normal 12px Verdana;
    text-decoration: none;
    position: relative;
    padding: 7px 16px;
    border: 1px solid #CCC;
    border-bottom-color: #B7B7B7;
    color: #000;
    background: #F0F0F0 url(tabbg.gif) 0 0 repeat-x;
    border-radius: 3px 3px 0 0;
    outline: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    padding: 15px 25px 15px 25px;
}    
ul.tabs li a:visited
{
    color: #000;
}
        
ul.tabs li a:hover
{
    background:White url(tabbg.gif) repeat-x 0 0;
}
        
ul.tabs li.selected a, ul.tabs li.selected a:hover {
    position: relative;
    top: 0px;
    background: white;
    border: 1px solid #B7B7B7;
    border-bottom-color: white;
    background-color: #515151;
    color: #FFF;
    font-family: 'Roboto Condensed', sans-serif;
}
        
        
ul.tabs li.selected a:hover
{
    text-decoration: none;
}
   

div.tabcontents
{
    border-top: 1px solid #B7B7B7; padding:30px 16px;
}
.circle {
    background-color: #2C72B8 !important;
    border-radius: 50% !important;
}