
.form-account {
    border-left: 1px solid #dddcdc;
    border-right: 1px solid #dddcdc;
}
.form-heading {

    padding: 17px 20px;
    border-bottom: 1px solid #dddcdc;
    background-color: #ececec;
	margin-top: 30px;
}
.form-heading h3 {
    margin-bottom: 0;
    padding: 0;
    border: none;
}
h3 {
    font-family: "Roboto Condensed",sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #7f858c;
}
.form-entry {
    padding: 20px;
}
ul.cart-items {
    margin-bottom: 25px;
}
ul.cart-items li.step-now {
    border-bottom-color: #2C72B8 !important;
    background-color: #515151;
}
ul.cart-items li:first-child {
    border-left: none;
}
ul.cart-items li {
    background-color: #d1d0d0;
}
ul.cart-items li {
    position: relative;
    float: left;
    display: block;
    padding: 15px 0;
    width: 25%;
	border:1px solid#E5E4E4
}
ul.cart-items li .cart-title {
    margin: 0;
    color: #fbfafa;
    font-size: 17px;
    text-align: center;
}
h5 {
    font-family: "Roboto Condensed",sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #232527;
}
ul.cart-items .step-now .circle, ul.cart-items .step-error .circle {
    background-color: #2C72B8 !important;
	border-radius:50% !important;
}
ul.cart-items li .circle {
    position: absolute;
    bottom: -15px;
    left: 50%;
    z-index: 15;
    display: block;
    margin-left: -12px;
    width: 24px;
    height: 24px;
    background-color: #E5E4E4;
    color: #fff;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    border-radius: 50%;
}
.form-entry label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
}
input, select, textarea {
    font-size: 100%;
    vertical-align: baseline;
    display: inline-block;
    margin: 0;
    padding: 6px 10px;
    width: 100%;
    height: 33px;
    outline: none;
    border: 1px solid #dddcdc;
    background-color: #fff;
    color: #8f8f8f;
    font-family: "Arial",Tahoma,Verdana;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -webkit-transition: border 0.35s ease-in-out,background 0.35s ease-in-out;
    -moz-transition: border 0.35s ease-in-out,background 0.35s ease-in-out;
    -ms-transition: border 0.35s ease-in-out,background 0.35s ease-in-out;
    transition: border 0.35s ease-in-out,background 0.35s ease-in-out;
}
.form-entry .button, .form-entry #content input[type="submit"], #content .form-entry input[type="submit"], .form-entry #commentform #submit, #commentform .form-entry #submit {
    margin: 0;
    color: #fff !important;
}
.orange:hover, #content input[type="submit"]:hover, #commentform #submit:hover {
    background-color: #7f858b;
}
