/***********tab*************/
/* Tab Content - menucool.com */

ul.tabs
{
    padding: 7px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: left; font-family: 'Roboto Condensed', sans-serif; /*set to left, center, or right to align the tabs as desired*/
}
        
ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:3px; font-family: 'Roboto Condensed', sans-serif; /*distance between tabs*/
}
        
ul.tabs li a
{
    font: normal 12px Verdana;
    text-decoration: none;
    position: relative;
    padding: 7px 16px;
    border: 1px solid #CCC;
    border-bottom-color:#B7B7B7;
    color: #000;
    background: #F0F0F0 url(tabbg.gif) 0 0 repeat-x;
    border-radius: 3px 3px 0 0;
    outline:none; font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	padding: 15px 25px 15px 25px;
}
        
ul.tabs li a:visited
{
    color: #000; font-family: 'Roboto Condensed', sans-serif; 

}
        
ul.tabs li a:hover
{
    border: 1px solid #B7B7B7;
    background:#F0F0F0 url(tabbg.gif) 0 -36px repeat-x; font-family: 'Roboto Condensed', sans-serif;
}
        
ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;
	
    background: white;
    border: 1px solid #B7B7B7;
    border-bottom-color: white;
	background-color:#2885e2;
	color:#FFF; font-family: 'Roboto Condensed', sans-serif;
}
        
        
ul.tabs li.selected a:hover
{
    text-decoration: none; font-family: 'Roboto Condensed', sans-serif;
	
}
     

div.tabcontents
{
     padding: 30px;
    background-color:#FFF;
    border-radius: 0 3px 3px 3px; font-family: 'Roboto Condensed', sans-serif;
}
.tabhead{font-family: 'Roboto Condensed', sans-serif; font-size:16px; font-weight:bold; color:#4d4e50; }

/*******************tab*****************/