/* Tab Content - menucool.com */
ul.tabs
{
    padding: 15px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: center; /*set to left, center, or right to align the tabs as desired*/
}
        
ul.tabs li
{
    position: relative;
    float: left;
    display: block;
    width: 25%;
    border: 1px solid#E5E4E4;
	background-color:#d1d0d0;
	padding: 15px 0px 5px 0px;
    border-bottom: 10px solid#E5E4E4 !important;
    
}
        
ul.tabs li a {
    font: normal 12px Verdana;
    text-decoration: none;
    position: relative;
    padding: 7px 16px;
    color: #000;
	border-bottom-color: #2C72B8 !important;
    outline: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;

}    
ul.tabs li a:visited
{
    color: #000;
}
        
ul.tabs li a:hover
{
	background-color:#FFF;}
        
ul.tabs li.selected a, ul.tabs li.selected a:hover {
    top: 0px;
    background: white;
    background-color: #515151;
    color: #FFF;
    font-family: 'Roboto Condensed', sans-serif;
	text-align:center;
	width: 100%;
	border-bottom: 10px solid#2C72B8 !important;
	padding: 5% 40% 2% 40% ;
}
ul.tabs1 li.selected a, ul.tabs1 li.selected a:hover {
    background-color: none !important;
	border-bottom: none !important;}
        
        
ul.tabs li.selected a:hover
{
    text-decoration: none;
}
  

div.tabcontents
{
    border-top: 30px solid #B7B7B7;
}
.circle {
    background-color: #2C72B8 !important;
    border-radius: 50% !important;
}






ul.tabs li .circle, ul.tabs li .circle 
{
    background-color:#d1d0d0; !important;
}
ul.tabs li .circle 
{
    position: absolute;
    bottom: -15px;
    left: 50%;
    z-index: 15;
    display: block;
    margin-left: -12px;
    width: 24px;
    height: 24px;
    background-color:#d1d0d0;
    color: #fff;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    border-radius: 50%;
}
ul.tabs li circle.selected 
{
    position: absolute;
    bottom: -15px;
    left: 50%;
    z-index: 15;
    display: block;
    margin-left: -12px;
    width: 24px;
    height: 24px;
    background-color: #E5E4E4;
    color: #fff;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    border-radius: 50%;
}