@charset "utf-8";
/* CSS Document */
.localagenthead-2 {
    margin-bottom: 20px;
    border-bottom: 1px solid#2fb4df;
    padding: 0px 0px 12px 0px;
}
.carbulefont-2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #141313;
    padding-top: 10px;
}
.carbulefont-3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
	font-weight:bold;
    color: #2c72b8;
	margin-top:10px !important; 
}
.paddng {
    padding: 2px 16px 5px 0px !important;}
.paddng20{ padding:20px !important;}
.paddng-1
{ padding:5px 0px 0px 0px;}
/*******Display none*******/
.space
{ display:none;}
/*******Display none*******/

body
{ font-family: 'Roboto Condensed', sans-serif;}
/**************Color Head************/
.bluehead
{ font-family: 'Roboto Condensed', sans-serif; font-size:18px !important; font-weight:bold; color:#2c72b8;}
.blackhead
{font-family: 'Roboto Condensed', sans-serif; font-size:18px !important; font-weight:bold; color:#4d4e50;}
/***********End Color Head************/

/*****************************************COMMON CSS***************************************/
/****************************PADDING****************/
.pdt10{ padding-top:10px;}
.pdt20{ padding-top:20px;}
.pdt30{ padding-top:30px;}
.pdt40{ padding-top:40px;}
.pdr10{ padding-right:10px;}
.pdr20{ padding-right:20px;}
.pdr30{ padding-right:30px;}
.pdr40{ padding-right:40px;}
.pdb10{ padding-bottom:10px;}
.pdb20{ padding-bottom:20px;}
.pdb30{ padding-bottom:30px;}
.pdb40{ padding-bottom:40px;}
.pdl10{ padding-left:10px;}
.pdl20{ padding-left:20px;}
.pdl30{ padding-left:30px;}
.pdl40{ padding-left:40px;}
/****************************END PADDING****************/

/****************************MARGIN********************/
.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}
.mt30{ margin-top:30px;}
.mt40{ margin-top:40px;}
.mt60{ margin-top:75px;}
.mr10{ margin-right:10px;}
.mr20{ margin-right:20px;}
.mr30{ margin-right:30px;}
.mr40{ margin-right:40px;}
.mb10{ margin-bottom:10px;}
.mb20{ margin-bottom:20px;}
.mb30{ margin-bottom:30px;}
.mb40{ margin-bottom:40px;}
.ml5{ margin-left:1px;}
.ml10{ margin-left:10px;}
.ml20{ margin-left:20px;}
.ml30{ margin-left:30px;}
.ml40{ margin-left:40px;}
/****************************END MARGIN********************/



/**********************HEAD***************************************/
.header
{background-color:#f4f4f4; padding-top:5px; padding-bottom:5px; color:#a6a6a6; font-family: 'Roboto Condensed', sans-serif; border-bottom:1px solid#a6a6a6; font-size:14px; }

.phone
{ font-size: 1.5em !important; color:#a6a6a6;}

.headlist{ list-style:none; text-align:right;}

.headlist > li > a
{float:left; margin-right:15px;	color:#a6a6a6 !important; font-family: 'Roboto Condensed', sans-serif;	}

/**********************END HEAD***************************************/


/*****************************LOGO********************************/
.logo{ margin-top:20px; margin-bottom:20px;}
/****************************END LOGO********************************/


/****************************MAIN MENU****************************************/

.navbar-default 
{ background-color: #2885e2 !important; border-color: #e7e7e7; font-family: 'Open Sans', sans-serif; border-bottom:2px solid#e1e1e1 !important;}

.navbar 
{ position: relative;  min-height: 50px;   margin-bottom: 0px;  border: 0px !important; border-bottom:4px solid#e1e1e1 !important; }

.navbar-default .navbar-nav > li
{ margin-left:10px;}

.navbar-default .navbar-nav > li > a 
{ font-size: 16px;   color: #FFF !important;    font-weight: 600;}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus 
{    color: #ccc !important;    background-color: transparent;}

.navbar 
{    border-radius: 0px !important;}

.tab-content>.tab-pane 
{    color: #fff;    font-family: 'Roboto Condensed', sans-serif;}

/**************side menu***************/

.jumbotron-flat 
{  background-color: solid #4DB8FFF;  height: 100%;  border: 1px solid #4DB8FF;  background: white;  width: 100%; text-align: center; overflow: auto; }

.paymentAmt 
{    font-size: 80px; }

.centered 
{    text-align: center;}

.title 
{ padding-top: 15px;   }

.navbar-default .navbar-toggle .icon-bar 
{    background-color: #fff !important;}

/**************end side menu************/

/***************************END MAIN MENU****************************************/

/********************************FOOTER BOX*************************/
.col-10
{ width:10%; float:left;}
.footerbox{ background-color:#2885e2;}
.footerboxheader{ font-family: 'Roboto Condensed', sans-serif; font-size:18px; color:#FFF; padding-bottom:10px; border-bottom:1px solid#FFF; }
.footerboxbody{ font-family: 'Roboto Condensed', sans-serif; font-size:12px; color:#FFF;      padding-right: 50px;}
a.footerboxlink
{font-family: 'Roboto Condensed', sans-serif; font-size:12px;  color:#FFF;}
/*************Social Icon***************/
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
.fb { font-size: 4em !important; }
.tw { font-size: 4em !important; }
.gg { font-size: 4em !important; }
.skype { font-size: 4em !important; }
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
/*************Social Icon***************/

/****************************END FOOTER BOX*************************/


/*******************************Footer**********************/
.footer{ font-family: 'Roboto Condensed', sans-serif; font-size:12px; color:#c5c5c5; padding:15px 0 15px 0; background-color: #1c1c1c;}
a.footerlink{font-family: 'Roboto Condensed', sans-serif; font-size:12px; color:#c5c5c5;}
span.footer{padding:15px 0 15px 0;}
/**************************End Footer**********************/


/***************************************************************************END COMMON CSS*****************************************************************************************/






/******************************************************************************************INDEX PAGE******************************************************************************/


/******************************************BANNER*******************************************/



/* Banner
========================================================= */
#home-banner {	background: #F5E88F /*url(../images/banner_bg.jpg) no-repeat*/;	background-size: cover;	min-height: 470px;}
#banner-caption{ background:rgba(0,0,0,0.6); margin-top:334px; margin-right:-30px;}
#banner-caption h2{color:#fff; font-size:62px; font-weight:300; padding:28px 25px 0 25px; line-height:42px; margin:0}
#banner-caption h3{color:#fff; font-weight:300; font-size:48px; padding:0 25px 28px 25px;}
#quik-search {
	background: rgba(228,0,145, 0.9);
}
#quik-search .quick-form {	padding: 0 15px 10px 15px; }
#quik-search h3 {	font-size: 24px;	color: #fff;	font-weight: 300;	margin-bottom: 15px;	border-bottom: solid 1px #fff;	padding-left: 15px;}
#quik-search label {	color: #fff;	font-weight: 400;	font-size: 15px;}
#quik-search .form-control {	border: 0px;}


/*********************END BANNER*******************************************/




/***************BANNER SIDE MENU*************************/
.tap-padding
{ padding: 5px 34px 5px 34px; font-family: 'Roboto Condensed', sans-serif;  color: #FFF; font-size:16px;}



.selectbox {
    display: block;
    width: 100%;
    height: 25px;
    padding: 0px 2px;
    font-size: 14px;
    line-height: 1.42857143;
	font-family: 'Roboto Condensed', sans-serif;
    color: #b1b1b1;
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #b1b1b1;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}



.selectbox2
{
    font-size: 100%;
    vertical-align: baseline;
    display: inline-block;
    margin: 0;
    padding: 6px 10px;
    width: 100%;
    height: 28px;
    outline: none;
    border: 1px solid #dddcdc;
    background-color: #f4f4f4;
    color: #8f8f8f;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -webkit-transition: border 0.35s ease-in-out,background 0.35s ease-in-out;
    -moz-transition: border 0.35s ease-in-out,background 0.35s ease-in-out;
    -ms-transition: border 0.35s ease-in-out,background 0.35s ease-in-out;
    transition: border 0.35s ease-in-out,background 0.35s ease-in-out;
}



.badge {
    border-radius: 12px !important;
    font-size: 11px !important;
    font-weight: 300;
    height: 18px;
    padding: 3px 6px;
    text-align: center;
    text-shadow: none !important;
    vertical-align: middle;
} 
.badge-success {    background-color: #45b6af;    background-image: none;    }
.badge-danger {    background-color: #f3565d;    background-image: none;}
.danger-icon{    color: #f3565d;}
 
.portlet {    border-radius: 4px;    margin-bottom: 25px;    margin-top: 0;    padding: 0;}
	
.portlet > .portlet-title > .nav-tabs {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    display: inline-block;
    float: right;
    margin: 0;
} 
div, input, select, textarea, span, img, table, label, td, th, p, a, button, ul, code, pre, li {
    border-radius: 0 !important;
	font-family: 'Open Sans', sans-serif;
}
.portlet > .portlet-body.grey-cascade, .portlet.grey-cascade {
        background-color: #2fb4df;
}
.portlet.box.grey-cascade {     border-color: #b1bdbd  !important;    border-image: none;    border-style: none solid solid;    border-width: 0px 0px 0px;}

.portlet.box > .portlet-title {    border-bottom: 0 none;    color: #fff;    margin-bottom: 0;}
.portlet.box > .portlet-body {	border-top: 1px solid#fff;   background-color: #2fb4df;    padding: 14px;}
.portlet > .portlet-body {    border-radius: 0 0 4px 4px;    clear: both;} 
.portlet > .portlet-title > .nav-tabs > li > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    
    
	
}
.portlet > .portlet-title > .nav-tabs > li.active > a, .portlet > .portlet-title > .nav-tabs > li:hover > a {
    background: #4d4e50 none repeat scroll 0 0;
    border: 1px solid#ffffff;
    color: #f4f4f4;
}
.nav-tabs > li > a, .nav-pills > li > a {    border-radius: 4px 4px 0 0;    font-size: 14px;}
.nav-tabs > li > a, .nav-pills > li > a {    border-radius: 4px 4px 0 0;    font-size: 14px;}

form
{ font-size: 15px !important;    line-height: 1 !important;}

/*************END BANNER SIDE MENU*******************/


/*******Local Agent*******/

.localagent
{ background-color:#f1fafd; border:1px solid#d0d0d1; padding:10px 20px 0px 20px;}
.localagenthead
{ margin-bottom:20px; border-bottom:1px solid#2fb4df; padding:0px 0px 41px 0px;}
.localagentfont
{font-family: 'Roboto Condensed', sans-serif; font-size:14px; font-weight:bold; color:#2c72b8;}
p.localagent{ padding-top:10px;}

/******End Local Agent***/


/*******New Car**********/
.newcar
{ background-color:#f4f4f4; border:1px solid#d0d0d1; padding:10px 20px 0px 20px;}
.newcarhead
{ margin-bottom:20px; border-bottom:1px solid#2fb4df; padding:0px 0px 41px 0px;}
.carbulefont
{font-family: 'Roboto Condensed', sans-serif; font-size:18px; font-weight:bold; color:#2c72b8; padding-top:10px;}
.carblackfont
{font-family: 'Roboto Condensed', sans-serif; font-size:12px; color:#4d4e50;}
.carblackfontthin
{font-family: 'Roboto Condensed', sans-serif; font-size:12px; font-weight:600; color:#4d4e50;}

/******End New Car********/



/*******oldCar**********/
.oldcar
{ background-color:#f4f4f4; border:1px solid#d0d0d1; padding:10px 20px 0px 20px;}
.oldcarhead
{ margin-bottom:20px; border-bottom:1px solid#2fb4df; padding:0px 0px 41px 0px;}

/******End New Car********/



/*****Featured Car*******/
.featuredcar
{ background-color:#dcf4fb; border:1px solid#d0d0d1; padding:10px 20px 0px 20px;}
.featuredcarhead
{ margin-bottom:20px; border-bottom:1px solid#2fb4df; padding:0px 0px 41px 0px;}

/****End Feature Car***********/


/*****Recently Added*******/
.recentlyadded
{ background-color:#dcf4fb; border:1px solid#d0d0d1;}
.recentlyaddedhead
{ margin-bottom:20px; border-bottom:1px solid#2fb4df; padding-top:10px;}
.recentbox {
    background-color: #323232;
    color: #FFF;
    font-size: 10px;
    border: 1px solid#d0d0d1;
    margin: 5px 0px 0px 0px;
    padding: 8px 0px 14px 0px !important;
	text-align:center;

}
.recentbox2 {
    background-color: transparent;
    color: #2c72b8;
    font-size: 16px;
    border: 1px solid#d0d0d1;
    margin: 0px 0px 20px 0px;
    padding: 13px 0px 13px 0px;
	text-align:center;
}

/****End Recently Added***********/



/*******search by car body**********/
.searchcar{ background-color:#f4f4f4; border:1px solid#d0d0d1;}
.searchcarhead{ margin-bottom:20px; border-bottom:1px solid#2fb4df;}

/******search by car body********/







/*****customer review*******/
.customerreview
{ background-color:#dcf4fb; border:1px solid#d0d0d1; padding:10px 20px 0px 20px;}
.customerreviewhead
{ margin-bottom:20px; border-bottom:1px solid#2fb4df; padding:0px 0px 41px 0px;}
.customerreviewfonthead
{font-family: 'Roboto Condensed', sans-serif; font-size:14px; font-weight:bold; color:#4d4e50;}
.customerreviewfont
{font-family: 'Roboto Condensed', sans-serif; font-size:12px; color:#4d4e50; float:left;}
.customerreviewlink
{ font-family: 'Roboto Condensed', sans-serif; font-size:12px; font-weight:600; color:#2c72b8; text-align:left; }
.bluelink
{ font-family: 'Roboto Condensed', sans-serif; font-size:14px; font-weight:600; color:#2c72b8;}
.star{ color:#f8921d;}
.starfont{ color:#7e7e7e; font-family: 'Roboto Condensed', sans-serif; font-size:12px; }
/****customer review***********/




/*******Item for Sale**********/
.saleitem
{ background-color:#f4f4f4; border:1px solid#d0d0d1; padding: 4px 2px 0px 2px;}
.saleitemhead
{ margin-bottom:20px; border-bottom:1px solid#2fb4df; padding:0px 0px 47px 0px;}
.saleitembody
{ font-family: 'Roboto Condensed', sans-serif; font-size:12px; font-weight:600; color:#2c72b8; }
.salebluehead
{ font-family: 'Roboto Condensed', sans-serif; font-size:14px; font-weight:bold; color:#2c72b8;}
.saleblackhead
{font-family: 'Roboto Condensed', sans-serif; font-size:16px; font-weight:bold; color:#4d4e50;}
.salebluelink
{ font-family: 'Roboto Condensed', sans-serif; font-size:12px; font-weight:600; color:#2c72b8;}

/******End Item for Sale********/


/*******All Listing*******/

.alllisting
{ background-color:#f1fafd; border:1px solid#d0d0d1; padding:10px 20px 0px 20px;}
.alllistinghead
{ margin-bottom:20px; border-bottom:1px solid#2fb4df; padding:0px 0px 41px 0px;}
.alllistingbluefont
{font-family: 'Roboto Condensed', sans-serif; font-size:18px; color:#2c72b8; padding-top:16px;}
.alllistingblackfont
{font-family: 'Roboto Condensed', sans-serif; font-size:18px; font-weight:bold; color:#000;}

/******End All Listing***/



/*******Auto Market Place*******/

.automarket
{ background-color:#f4f4f4; border:1px solid#d0d0d1; padding:10px 20px 0px 20px;}
.automarkethead
{ margin-bottom:20px; border-bottom:1px solid#2fb4df; padding:0px 0px 41px 0px;}
a.automarketlink
{font-family: 'Roboto Condensed', sans-serif; font-size:16px; color:#2c72b8;}
p.automarket
{ padding-top:10px;}
/******End Auto Market Place***/



/*******CAR Makers*******/

.carmaker
{ background-color:#f4f4f4; border:1px solid#d0d0d1;}
.carmakerhead
{ margin-bottom:20px; border-bottom:1px solid#2fb4df; padding-top:10px;}
a.carmakerlink
{font-family: 'Roboto Condensed', sans-serif; font-size:20px; font-weight:lighter;  color:#2c72b8;}
p.carmaker
{ padding-top:10px;}
/******End Car Makerse***/

/*******************************************************************************************END INDEX PAGE*************************************************************************/




/*************************************************************************************Car-Shop Page********************************************************************************/
.btn-carshop
{
    color: #686969;
    background-color: #ffffff;    
	border:1px solid#c9c9c9;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:14px;
	border-radius:2px !important;
}
.btn-carshop:hover
{ background-color:#4d4e50; color:#FFF;}
.carshoptitlefont
{ font-family: 'Roboto Condensed', sans-serif; font-size:34px; color:#4d4e50; }
.carshop-productbox
{ border:none; font-family: 'Roboto Condensed', sans-serif; font-size:20px; color:#2c72b8; margin-top:30px;}
.carshop-producttitle
{ font-family: 'Roboto Condensed', sans-serif; font-size:14px; font-weight:bold; color:#2c72b8;}
.carshop-pricetext
{font-family: 'Roboto Condensed', sans-serif; font-size:18px; font-weight:bold; color:#4d4e50;}
.paginationright{ float:right;}

.carshopselectbox
{
    display: block;
    width: 150px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
	font-family: 'Roboto Condensed', sans-serif;
    color: #b1b1b1;
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


/*********************************************************************************End Car-Shop Page********************************************************************************/


/*********************************************************************************Car-Shop Details********************************************************************************/

.carousel {    margin-top: 30px;}
.item .thumb {    width: 25%;	cursor: pointer;	float: left;}
.item .thumb img {	width: 100%;	margin: 2px;}
.item img {
	width: 100%;	
}
.carshop-detail-head
{font-family: 'Roboto Condensed', sans-serif; font-size:30px;  color:#4d4e50; padding-left:30px;}
.carshop-detail-body
{font-family: 'Roboto Condensed', sans-serif; font-size:16px;  color:#4d4e50; padding-left:30px;}
.carshop-detail-pricetext
{font-family: 'Roboto Condensed', sans-serif; font-size:18px; color:#4d4e50; padding-left:30px; margin-top:30px;}
.input-carshop-detail {
    height: 30px;
    width: 10%;
    padding: 5px 10px 5px 20px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
	color:#4d4e50;
}
.btn-carshopdetail {
    color: #FFFFFF;
    background-color: #2885E2;
    border: 1px solid#FFFFFF;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    border-radius: 5px !important;
    padding: 10px 10px 10px 10px;
    margin-top: 30px;
    margin-left: 30px;
}
.btn-carshopdetail:hover
{ background-color:#4d4e50; color:#FFF;}

/********************slider****************/
.carshop-item{ border-radius: 5px;    background: #FFF;}

.carshop-item .photo img{ margin: 0 auto;  width: 100%;}

.carshop-item .info{ padding: 10px;    border-radius: 0 0 5px 5px;    margin-top: 1px;}

.carshop-item .price{ /*width: 50%;*/    float: left;    margin-top: 5px;}

.carshop-item .carshop-price { line-height: 20px;    margin: 0; color:#2c72b8 !important; font-size: 14px; font-weight:500;}

.carshop-price-text-color{    color: #219FD1; color:#4d4e50 !important; font-size: 14px; font-weight:500; padding-top:10px;}

.carshop-item .info .rating{    color: #777;}

.carshop-item .rating{    /*width: 50%;*/    float: left;    font-size: 17px;    text-align: right;    line-height: 52px;    margin-bottom: 10px;    height: 52px;}

.carshop-item .separator{   border-top: 1px solid #E1E1E1; }

.clear-left{    clear: left;}

.carshop-item .separator p{    line-height: 20px;    margin-bottom: 0;    margin-top: 10px;    text-align: center;}

.carshop-item .separator p i{    margin-right: 5px;}

.carshop-item .btn-add{    width: 50%;    float: left;}

.carshop-item .btn-add{    border-right: 1px solid #E1E1E1;}

.carshop-item .btn-details{    width: 50%;    float: left;    padding-left: 10px;}

.controls{    margin-top: 20px;}

[data-slide="prev"]{
    margin-right: 10px;}
.carshop-btn {    color: #2885E2;    background-color: #FFFFFF;    	border:1px solid#4d4e50 !important;}

/****************end slider***************/
/****************************************************************************End Car-Shop Details********************************************************************************/



/****************************************************************************Merchant Directory********************************************************************************/
.merchant-directory
{ padding:10px 0 0 0 !important;}
.merchant-directory-list
{ list-style:none;	}
.merchant-directory-list > li > a
{font-family: 'Roboto Condensed', sans-serif; font-size:15px; color:#2c72b8; line-height: 1.8;     font-weight: 500;}
.merchant-directory-listbody
{ border-bottom:1px solid#686969; padding-bottom:20px; margin-bottom:20px;}
.blacklink
{ color:#4d4e50; font-size:14px;}

/*******Last Reviews*******/

.merchant-directory-lastreviews
{ background-color:#f4f4f4; border:1px solid#d0d0d1; font-family: 'Roboto Condensed', sans-serif;}
.merchant-directory-head
{background-color:#686969; border:1px solid#d0d0d1; color:#FFF; font-size:16px; font-weight:bold; padding:10px 0px 10px 10px; font-family: 'Roboto Condensed', sans-serif;}
a.merchant-directory-link
{font-family: 'Roboto Condensed', sans-serif; font-size:20px; font-weight:lighter;  color:#2c72b8;}
p.merchant-directory-lastreviews
{ padding-top:10px;}
.merchant-directory-body-head
{font-family: 'Roboto Condensed', sans-serif; font-size:16px; font-weight:bold; color:#686969;}
.merchant-directory-body-review
{font-family: 'Roboto Condensed', sans-serif; font-size:12px; color:#686969;}
.merchant-directory-body-font
{font-family: 'Roboto Condensed', sans-serif; font-size:14px; color:#686969;}
.merchant-directory-body-link
{font-family: 'Roboto Condensed', sans-serif; font-size:14px; color:#2c72b8;}
.bordor-bottom-line
{ border-bottom:1px solid#686969;}
a.merchant-directory-bluelink
{font-family: 'Roboto Condensed', sans-serif; font-size:20px; font-weight:lighter;  color:#2c72b8;}

/******Last Reviews******/


/***********************************************************************END Merchant Directory********************************************************************************/



/************************************************************************car-list-view page************************************************************************************/
.car-detail-uline
{ border-bottom: 1px solid #2885e2; padding: 50px 0px 0px 0px;}
.car-detail-background
{ background-color:#f1fafd;}
.car-detail-name
{ font-family: 'Roboto Condensed', sans-serif; font-size:12px; font-weight:bold; color:#2c72b8;}
.car-detail-price
{font-family: 'Roboto Condensed', sans-serif; font-size:14px; font-weight:bold; color:#4d4e50;}
.cardetail-list-group
{
    padding-left: 0;
    margin-bottom: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}

.cardetail-list-group-item 
{
    position: relative;
    display: block;
    padding: 7px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
	font-family: 'Roboto Condensed', sans-serif;
}
.cardetail-list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.cardetail-list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.cardetail-list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.cardetail-list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.cardetail-list-group-item>.shadow
{
    float: right;
}
.shadow
 {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #999999;
    border-radius: 10px !important;
	font-family: 'Roboto Condensed', sans-serif;
}
.btn-car-detail
{ background-color:#f4f4f4;  color:#2885e2; border: 1px solid#b8b8b8;   padding: 15px 10px 15px 10px;    font-size: 16px;}
.advertaiser-car-detail
{ background-color:#f4f4f4; border: 1px solid#b8b8b8;}
.phonenomber
{ font-size:10px; margin-bottom:10px; padding:0px 0px 0px 5px;}
.adverticer
{ font-size:14px; font-weight:bold; color:#5d5d5d; padding: 0px;}
.faphone
{ font-size: 3em !important; }
.btn-phone
{ background-color:transparent; border:none; padding: 0px;}
.advertaiser-car-detail:hover
{ background-color:#FFF !important;}
.btn-phone:hover
{ background-color:#FFF;} 
.btn-car-detail:hover
{ background-color:#FFF;}
.car-detail-bluehead
{ font-family: 'Roboto Condensed', sans-serif; font-size:20px; font-weight:bold; color:#2c72b8; text-align:right; padding: 10px 0px 10px 0px;}
.car-detail-blackhead
{font-family: 'Roboto Condensed', sans-serif; font-size:20px; font-weight:bold; color:#4d4e50; padding: 10px 0px 10px 0px; }
/************************************************************************End car-list-view page********************************************************************************/

/******************************************************************Merchant Directory List page***********************************************************************************/
.merchant-directory-box
{ background:none; border:2px solid#e1e2e4; border-top:none  !important; color:#1d74cb;  }
.merchant-directory-box-link
{color:#1d74cb; font-size:14px; line-height:1px !important; font-family: 'Roboto Condensed', sans-serif;}
.merchant-directory-box-head
{ background-color:#e5e2e2;
 color:#1d74cb;
 font-size:20px;
 font-weight:bold;
 border:2px solid#e1e2e4;
 border-radius:3px !important;
 border-bottom:none  !important;
 margin-top:30px !important;
 padding: 5px 0px 5px 12px;
 font-family: 'Roboto Condensed', sans-serif;
 }
 .black
 {color:#000 !important; font-weight:bold; font-family: 'Roboto Condensed', sans-serif;}
 .merchant-directory-list-link
 {color:#2c72b8; font-size:14px; font-family: 'Roboto Condensed', sans-serif;}
.merchant-directory-list-box-1
{ background-color:#f8f7f7; margin-top:20px; font-family: 'Roboto Condensed', sans-serif;}
.merchant-directory-list-box-2
{ background-color:#f0fcfe; margin-top:20px; font-family: 'Roboto Condensed', sans-serif;}
.btn-merchant-directory-list-button
{ background-color:#454545;
 font-family: 'Roboto Condensed', sans-serif; color:#FFF;
 max-height:30px; margin-bottom:20px; font-size:13px;
 border-radius:3px !important;
 border:none !important;
 overflow:hidden;
 padding:3px 0px 3px 0px;
     }
.btn-merchant-directory-list-button:hover
{ background-color:#2885e2;}
.btn-merchant-directory-list-button2:hover
{ background-color:#454545;}
.btn-merchant-directory-list-button2
{ background-color:#2885e2; 
  font-family: 'Roboto Condensed', sans-serif; 
  color:#FFF; max-height:30px; 
  margin-bottom:20px; 
  font-size:13px; 
  border-radius:3px !important;
  border:none !important;
  padding: 3px 7px 3px 7px;  }
.btn-merchant-directory-list-button3
{ background-color:#2885e2; 
  font-family: 'Roboto Condensed', sans-serif; 
  color:#FFF; max-height:30px; 
  margin-bottom:20px; 
  font-size:16px; 
  border-radius:3px !important;
  border:none !important;
  padding: 3px 10px 3px 10px;
  margin:15px 0px 15px 15px;  }
.btn-merchant-directory-list-button3:hover
{ background-color:#454545;}
.merchant-directory-list-box-font
{ font-family: 'Roboto Condensed', sans-serif; font-size:13px; color:#8f8f8f; font-weight: 500;}
.merchant-directory-list-box-head
{ font-family: 'Roboto Condensed', sans-serif; font-size:13px; color:#5b5b5b; font-weight:700;}
.merchant-directory-list-box-link
{font-family: 'Roboto Condensed', sans-serif; font-size:13px !important; color:#1766b5 !important; font-weight: 500;}
/***************************************************************End Merchant Directory List page*****************************************************************************/



/******************************************************************Merchant Directory List Detail********************************************************************************/

.merchant-directory-list-detail-box
{ background:none; border:2px solid#e1e2e4; font-family: 'Roboto Condensed', sans-serif; border-radius:3px !important;  }
.merchant-directory-list-detail-product-service-box
{ background-color:#f3f9ff !important; font-family: 'Roboto Condensed', sans-serif; background:none; border:2px solid#e1e2e4; border-radius:3px !important; }
.merchant-directory-list-detail-enquiry-box
{ background-color:#f8f7f7 !important; font-family: 'Roboto Condensed', sans-serif; background:none; border:2px solid#e1e2e4; border-radius:3px !important; }
.merchant-directory-list-detail-head
{ font-family: 'Roboto Condensed', sans-serif; font-size:22px; color:#1d71c4;}
p.merchant-directory-list-detail-product
{ font-family: 'Roboto Condensed', sans-serif; font-size:16px; color:#1d71c4;}
p.merchant-directory-list-detail-price
{ font-family: 'Roboto Condensed', sans-serif; font-size:16px; color:#424242;}
.merchant-directory-list-detail-enquiry-redfont
{ font-family: 'Roboto Condensed', sans-serif; font-size:14px; color:#c42d1d;}
.merchant-directory-list-detail-enquiry-font1
{ font-family: 'Roboto Condensed', sans-serif; font-size:18px; color:#424242; font-weight: 500;}
.merchant-directory-list-detail-enquiry-font2
{ font-family: 'Roboto Condensed', sans-serif; font-size:14px; color:#424242;}
.merchant-directory-list-detail-review-head
{    font-family: 'Roboto Condensed', sans-serif;    font-size: 16px;    font-weight: bold;    color: #4d4e50;}
.merchant-directory-list-detail-review-body 
{    font-family: 'Roboto Condensed', sans-serif;    font-size: 14px;    color: #4d4e50;    float: left;}
/************************************************************End Merchant Directory List Detail********************************************************************************/


/*************************************************************************DEALER PAGE******************************************************************************************/

.dealer
{ font-family: 'Roboto Condensed', sans-serif; font-size:25px; color:#424242;  padding-top: 30px; margin-bottom:20px;}
.dealer-box
{ background-color:#f4f4f4; border:1px solid#cfcece; border-radius:3% !important; font-family: 'Roboto Condensed', sans-serif; margin-bottom:20px;}
.dealer-name
{ color: #2885e2; font-family: 'Roboto Condensed', sans-serif; font-size:18px; padding: 5px 0px 5px 0px;}
.dealer-body
{ font-family: 'Roboto Condensed', sans-serif; font-size:12px; color:#424242;}
.btn-dealer 
{
    background-color: #2885e2;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFF;
    font-size: 13px;
    border-radius: 3px !important;
    border: none !important;
    padding: 5px 10px 5px 10px;
	margin: 10px 0px 15px 0px;
}
.btn-dealer:hover
{ background-color:#454545;}
/*************************************************************************DEALER PAGE******************************************************************************************/

/**********************************************************************Car-List-Page******************************************************************************************/

.car-list-sidebox
{ background-color:#f4f4f4; margin-top:20px;}

.car-list-sidebox-title
{ font-family: 'Roboto Condensed', sans-serif; font-size:16px; color:#4d4c4c;}
.car-list-sidebox-list
{ list-style:none;}
.car-list-sidebox-list > li > a
{ font-family: 'Roboto Condensed', sans-serif; font-size:16px; color:#4d4c4c; margin:10px 0 10px 0; }
.glyphicon 
{ margin-right:10px; }
.panel-body 
{ padding:0px; }
.car-list-sidebox-list > li > a > .shadow
{    float: right !important;;}


.btn-car-list-page 
{
    background-color: #2885e2;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFF;
    font-size: 13px;
    border-radius: 3px !important;
    border: none !important;
    padding: 5px 10px 5px 10px;
    margin: 10px 0px 15px 0px;
}
.btn-car-list-page:hover
{ background-color:#4d4c4c;}

/****************************************************************End Car-List-Page******************************************************************************************/

/*****************************************************************Post Add**************************************************************************/

.post-add-box
{ background-color:#f4f4f4; border:1px solid#a2a2a2; min-height:50px;  border-radius:3px !important;  padding-top:10px;}
.post-add-box-font
{ font-family: 'Roboto Condensed', sans-serif; font-size: 14px; color:#6c6b6b; padding-top:10px; }
.post-add-box-form-font
 {    font-family: 'Roboto Condensed', sans-serif;    font-size: 18px;    color: #424242;    font-weight: 500;}
.post-add-box-form-font-redfont
{    font-family: 'Roboto Condensed', sans-serif;    font-size: 14px;    color: #c42d1d;}

.post-add-selectbox 
{
    display: block;
    width: 100%;
    padding: 0px 2px;
    font-size: 14px;
    padding: 8px 0px 8px 10px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:400;
    color: #999999;
    background-color: #f4f4f4;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	border-radius:3px !important;
}

.post-add-form-control 
{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:400 !important;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #999999;
    background-color: #f4f4f4;
    border: 1px solid #e3e3e3;
    border-radius: 3px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.post-add-form-control-2
 {
	font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    height: 32px !important;
    padding: 4px 16px;
    font-size: 14px !important;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
textarea
{ min-height:70px;}
.btn-post-add
 {
    background-color: #2885e2;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFF;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 3px !important;
    border: none !important;
    padding: 10px 10px 10px 10px;
}
.btn-post-add:hover
{ background-color:#454545;}
.post-add-post-head
{ background-color:#2381df; font-family: 'Roboto Condensed', sans-serif; font-size: 18px; color:#FFF; border-radius: 3px !important; padding: 5px 0px 5px 0px;}
.post-add-post-body
{ background-color:#f4f4f4; font-family: 'Roboto Condensed', sans-serif;  border-radius: 3px !important; border: 1px solid #e3e3e3; }
.post-add-list-font
{ font-family: 'Roboto Condensed', sans-serif; font-size:12px; padding:0px 0px 0px 0px;}
/***********************************************************End Psot Add*********************************************************************************/


/***********************************************************Dealer Detail Page*********************************************************************************/

.dealer-detail-box
{ background-color:#f9f8f8; border:1px solid#d0d0d0; margin-top:30px; padding: 20px 0px 20px 10px; font-family: 'Roboto Condensed', sans-serif;}
.dealer-left-border
{ border-left:1px solid#d0d0d0;}
.dealer-detail-dealer-name
{ color:#4e4e4f; font-family: 'Roboto Condensed', sans-serif; font-size:20px; font-weight:500;}
.dealer-detail-dealer-font
{ font-family: 'Roboto Condensed', sans-serif; font-size: 12px; color:#6c6b6b; padding-top:10px; }
.dealer-detail-carlist-box1
{ background-color:#f6f5f5; border-radius: 3px !important; margin-top:30px;}
.dealer-detail-carlist-box2
{ background-color:#eaf5ff; border-radius: 3px !important; margin-top:30px;}
.dealer-detail-carlist-box-head
{ font-family: 'Roboto Condensed', sans-serif; font-size: 16px; color:#6c6b6b; padding-top:10px;}
.dealer-detail-carlist-box-body
{ font-family: 'Roboto Condensed', sans-serif; font-size: 14px; color:#6c6b6b; padding-top:10px;}
.dealer-detail-price
{ font-family: 'Roboto Condensed', sans-serif; font-size:20px; padding-top:30px; color: #2885e2; }
.btn-dealer-detail
 {
    background-color: #ebecec;
    font-family: 'Roboto Condensed', sans-serif;
    color: #2885e2;
    font-size: 14px;
    border-radius: 3px !important;
    border: none !important;
    padding: 7px 10px 7px 10px;
	border-radius: 3px !important;
	border:1px solid#d0d0d0 !important;
}
.btn-dealer-detail:hover
{ background-color:#2885e2 !important; color:#FFF !important; }
.btn-2-dealer-detail
 {
    background-color: #7f858b;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFF;
    font-size: 14px;
    border-radius: 3px !important;
    border: none !important;
    padding: 7px 10px 7px 10px;
	border-radius: 3px !important;
	border:1px solid#d0d0d0 !important;
}
.btn-2-dealer-detail:hover
{ background-color:#ebecec !important; color:#2885e2 !important; font-family: 'Roboto Condensed', sans-serif; }
.dealer-detail-side-box-head
{ font-size:18px !important; border-top:1px solid#7f858b; margin-top:10px; font-family: 'Roboto Condensed', sans-serif;}
.dealer-detail-sidebox
{ background-color:#f4f4f4; margin-top:30px; font-family: 'Roboto Condensed', sans-serif;}
.dealer-detail-link
{ font-size:16px !important; font-weight:400 !important; font-family: 'Roboto Condensed', sans-serif;}
.dealer-detail-border-bottom
{ border-bottom:#7f858b !important;}
.dealer-detail-list
{ list-style:none; border-bottom:#7f858b !important; text-align:left !important; padding-left:15px;  font-family: 'Roboto Condensed', sans-serif;}
.dealer-detail-side-box-head-2
{ font-size:20px !important; margin-top:10px; font-weight:500 !important;  font-family: 'Roboto Condensed', sans-serif;}
/*****************************************************End Dealer Detail Page*********************************************************************************/


/*****************************************************Edit Profile Page*********************************************************************************/
.edit-profile-box
{ 
  background-color:#ececec; 
  margin-top:20px; 
  font-family: 'Roboto Condensed', sans-serif; 
  font-size:24px; 
  padding: 10px 0px 10px 20px; 
  color:#959aa0; 
  border:1px solid#cbcdcf;
  border-bottom:none !important;
 }
 .edit-profile-box-body
 {
	 border:1px solid#cbcdcf;
	 font-family: 'Roboto Condensed', sans-serif;
	 border-top:none !important; 
}
.edit-profile-box-head
{ margin-top:20px;  color:#959aa0; font-size:18px;  border-bottom:1px solid#cbcdcf; !important; font-family: 'Roboto Condensed', sans-serif;}
.edit-profile-form-control {
    display: block;
	font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.edit-profile-btn
{ background-color:#7f858b; color:#FFF; border:none !important; padding: 8px 10px 8px 10px; border-radius:3px !important; font-size:14px !important;}
.edit-profile-btn:hover
{ background-color:#2885e2;}
.edit-profile-form-font
{ font-size:16px; font-family: 'Roboto Condensed', sans-serif; color:#7e858b; }
.edit-profile-blocked:hover
{ background-image:url(../images/blcoked.png);
  background-repeat: no-repeat !important;
}

/************************************************End Edit Profile Page*********************************************************************************/

/************************************************Sell car Page*********************************************************************************/

.sell-car-form-control {
    display: block;
	font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #d1d0d0;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.sell-car-form-font
{ font-size:16px; font-family: 'Roboto Condensed', sans-serif; color:#7e858b; }
.sell-car-btn
{ background-color:#7f858b; color:#FFF; border-radius:3px !important; padding: 10px 15px 10px 15px; border:none;}
.sell-car-btn:hover
{ background-color:#2885e2;}
/********************************************End Sell car Page*********************************************************************************/