@charset "utf-8";
/* CSS Document */


/**************Color Head************/
.bluehead
{ font-family: 'Open Sans', sans-serif; font-size:19px; font-weight:bold; color:#4fb948;}
.blackhead
{font-family: 'Open Sans', sans-serif; font-size:18px; font-weight:bold; color:#4d4e50;}
/***********End Color Head************/

/**********Developer Designs*********/
.error {color:#A22B12;font: 13px Candara;margin-top: 5px;margin-bottom:0;}
.inpt_bn{margin:auto;margin-bottom: 10px;float:right !important;}
.im_ag{width: 150px; height:150px;}
._ima{width: 50px; height: 50px;}
.contain {padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;}
@media (max-width:480px) { 
.banner-content {  position: relative !important; }
.banner {
    /* background-image: url(../../assets/images/banner.png); */
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-family: 'Noto Sans', sans-serif;
    border-bottom: 7px solid #5BB531;
    background: #001152 !important;
}
.banner-content {
    position: absolute;
    text-align: center !important;
    z-index: 4;
    left:0% !important;
}
}
@media (min-width: 768px) {
  .contain {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .contain {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .contain {
    width: 1150px;
  }
}

#autocomplete { position: relative; top: 0px; left: 0px; width: 100%;}
#image_preview{position: absolute;top: 100px;left: 100px;width: 250px;height: 250px;text-align: center;font-weight: bold;overflow: auto;}
#selectImage{padding: 19px 21px 14px 15px;position: absolute;bottom: 0px;width: 414px;background-color: #FEFFED;border-radius: 10px;}

.submit{background: linear-gradient(#2b8 5%, #4fb948 100%);border: 1px solid #2b8;color: #fff;cursor: pointer;width: 300px;padding: 8px 0;outline: none;margin-top: 20px;}

input[type="button" i], input[type="file" i] { background: linear-gradient(#2b8 5%, #4fb948 100%);color: #fff;padding: 8px; }

#message{position:absolute;top:120px;left:815px;}#success{color:green;}#invalid{color:red;}#line{margin-top: 200px;}#error{color:red;}#error_message{color:blue;}#loading{display:none;position:absolute;top:50px;left:850px;font-size:25px;}

.err{ font:16px Candara;color:#A22B12 }
.scs{ font:16px Candara;color:#4FB948 }
/********** End of Developer Designs*********/


/*******Display none*******/
.space
{ display:none;}
.secont-banner{background-color: rgba(0, 0, 0, 0.47);    padding:10px;}
.quick-search{font-family: 'Open Sans', sans-serif; font-size:20px; color:#5BB531 !important; }
/*******Display none*******/

body
{ font-family: 'Open Sans', sans-serif;}
/**************Color Head************/
.greenhead
{ font-family: 'Open Sans', sans-serif; font-size:18px;  font-weight:bold; color:#4fb948;     text-transform: uppercase;}
.blackhead
{font-family: 'Open Sans', sans-serif; font-size:18px; font-weight:bold; color:#4d4e50;     text-transform: uppercase;}
/***********End Color Head************/

/*****************************************COMMON CSS***************************************/
.pdr7{ padding-right:7px} 
.pd5{ padding:5px;}          .pd10{ padding:10px;}          .pd15{ padding:15px;}          .pd20{ padding:20px;}          .pd25{ padding:25px;}
.pdr5{ padding-right:5px}    .pdr10{ padding-right:10px}    .pdr15{ padding-right:15px}    .pdr20{ padding-right:20px}    .pdr25{ padding-right:25px}   .pdr30{ padding-right:30px}
.pdr35{ padding-right:35px}  .pdr40{ padding-right:40px}    .pdl5{ padding-left:5px}       .pdl10{ padding-left:10px}     .pdl15{ padding-left:15px}    .pdl20{ padding-left:20px} .pdl25{ padding-left:25px}   .pd30{ padding-left:30px}      .pdl35{ padding-left:35px}     .pdl40{ padding-left:40px}     .pdt5{ padding-top:5px}       .pdt10{ padding-top:10px} .pdt15{ padding-top:15px}    .pdt20{ padding-top:20px}      .pdt25{ padding-top:25px}      .pdt30{ padding-top:30px}      .pdt35{ padding-top:35px}     .pdt40{ padding-top:40px}
.pdb5{ padding-bottom:5px}   .pdb10{ padding-bottom:10px}   .pdb15{ padding-bottom:15px}   .pdb20{ padding-bottom:20px}   .pdb25{ padding-bottom:25px}  .pdb30{ padding-bottom:30px}
.pdb35{ padding-bottom:35px} .pdb40{ padding-bottom:40px}
.m5{ margin:5px;}            .m10{ margin:10px;}             .m15{ margin:15px;}            .m20{ margin:20px;}            .m25{ margin:25px;}
.mr5{ margin-right:5px;}     .mr10{ margin-right:10px;}      .mr15{ margin-right:15px;}     .mr20{ margin-right:20px;}     .mr25{ margin-right:25px;}   .mr30{ margin-right:30px;}
.mr35{ margin-right:35px;}   .mr40{ margin-right:40px;}      .ml5{ margin-left:5px;}        .ml10{ margin-left:10px;}      .ml15{ margin-left:15px;}    .ml20{ margin-left:20px;}
.ml25{ margin-left:25px;}    .ml30{ margin-left:30px;}       .ml35{ margin-left:35px;}      .ml40{ margin-left:40px;}      .mt5{ margin-top:5px;}       .mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}     .mt20{ margin-top:20px;}        .mt25{ margin-top:25px;}       .mt30{ margin-top:30px;}       .mt35{ margin-top:35px;}     .mt40{ margin-top:40px;}
.mb5{ margin-bottom:5px;}    .mb10{ margin-bottom:10px;}     .mb15{ margin-bottom:15px;}    .mb20{ margin-bottom:20px;}    .mb25{ margin-bottom:25px;}  .mb30{ margin-bottom:30px;}
.mb35{ margin-bottom:35px;}  .mb40{ margin-bottom:40px;}
.mt60{ margin-top:75px;} 
/****************************END MARGIN********************/



/**********************HEAD***************************************/
.header
{background-color:#f4f4f4; padding-top:10px; padding-bottom:10px; color:#a6a6a6; font-family: 'Open Sans', sans-serif; border-bottom:1px solid #dbdbdb; font-size:16px; }

.phone
{ font-size: 1.5em !important; color:#a6a6a6;}

.headlist{ list-style:none; text-align:right;}

.headlist > li > a
{float:left; margin-right:15px;	color:#a6a6a6 !important; font-family: 'Open Sans', sans-serif; font-size:14px;	}

.herader-drop
{ background-color:transparent; border:none; font-family: 'Open Sans', sans-serif; font-size:14px;}

/**********************END HEAD***************************************/


/*****************************LOGO********************************/
.logo{ margin-top:20px; margin-bottom:20px;}
/****************************END LOGO********************************/


/****************************MAIN MENU****************************************/

.navbar-default 
{ background-color: #4fb948 !important; border-color: #e7e7e7; font-family: 'Open Sans', sans-serif; border-bottom:2px solid#e1e1e1 !important;}

.navbar 
{ position: relative;  min-height: 50px;   margin-bottom: 0px;  border: 0px !important; border-bottom:none !important; }

.navbar-default .navbar-nav > li
{ margin-left:10px;}
.menu-li-list
{ margin-left:7px !important;}
.menu-li-list-2
{ margin-left:0px !important;}

.navbar-default .navbar-nav > li > a 
{ font-size: 14px;   color: #FFF !important;    font-weight: 600;}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus 
{    color: #ccc !important;    background-color: transparent;}

.navbar 
{    border-radius: 0px !important;}

.tab-content>.tab-pane 
{    color: #fff;    font-family: 'Open Sans', sans-serif;}

/**************side menu***************/

.jumbotron-flat 
{  background-color: solid #4DB8FFF;  height: 100%;  border: 1px solid #4DB8FF;  background: white;  width: 100%; text-align: center; overflow: auto; }

.paymentAmt 
{    font-size: 80px; }

.centered 
{    text-align: center;}

.title 
{ padding-top: 15px;   }

.navbar-default .navbar-toggle .icon-bar 
{    background-color: #fff !important;}

/**************end side menu************/

/***************************END MAIN MENU****************************************/

/********************************FOOTER BOX*************************/
.col-10
{ width:10%; float:left;}
.footerbox{ background-color:#4fb948;}
.footerboxheader{ font-family: 'Open Sans', sans-serif; font-size:18px; color:#FFF; padding-bottom:10px; border-bottom:2px solid#FFF; }
.footerboxbody{ font-family: 'Open Sans', sans-serif; font-size:12px; color:#FFF;      padding-right: 50px;}
a.footerboxlink
{font-family: 'Open Sans', sans-serif; font-size:14px;  color:#FFF;}
.footerboxlink:hover
{ color:#141313;}
/*************Social Icon***************/
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
.fb { font-size: 4em !important; }
.tw { font-size: 4em !important; }
.gg { font-size: 4em !important; }
.skype { font-size: 4em !important; }
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
/*************Social Icon***************/

/****************************END FOOTER BOX*************************/


/*******************************Footer**********************/
.footer{ font-family: 'Open Sans', sans-serif; font-size:12px; color:#c5c5c5; padding:15px 0 15px 0; background-color: #333;}
a.footerlink{font-family: 'Open Sans', sans-serif; font-size:12px; color:#c5c5c5;}
span.footer{padding:15px 0 15px 0;}
/**************************End Footer**********************/


/*************************************************************END COMMON CSS********************************************************************************/






/****************************************************Start INDEX PAGE*******************************************************************/

/******banner*****/
.banner
{ background-image:url(../../assets/images/banner.png); 
  background-position:top center; 
  background-size: cover; 
  background-repeat:no-repeat; 
  color:#FFF; 
  font-family: 'Noto Sans', sans-serif;     border-bottom: 7px solid #5BB531;
  min-height: 300px;
  }
.banner-content
{ 
position: absolute;
    text-align: center !important;
    z-index: 4;
    left: 5%;
}
.banner-font-1
{ font-size:30px; font-weight:lighter; font-family: 'Open Sans', sans-serif; }
.banner-font-2
{ font-size:30px; font-weight:bold; font-family: 'Open Sans', sans-serif;}
.banner-group
{	float:left !important;	font-family: 'Noto Sans', sans-serif;	width:20%;	border-right:1px solid#7b7b7b;	background-color:#FFF;}
.banner-group-1
{	float:left !important;	font-family: 'Noto Sans', sans-serif;	width:30%; border-right:1px solid#7b7b7b;	background-color:#FFF;}
.banner-group-2
{	float:left !important;	font-family: 'Noto Sans', sans-serif;	width:10%;	border-right:none;	background-color:#FFF;}
.banner-group-brdr
{	border-radius:0px !important;	padding:10px 0px 10px 10px !important;	height: 50px !important;	font-family: 'Noto Sans', sans-serif;	border:none !important;}
.banner-btn
{	background-color:#4fb948;	color:#FFF;}
.banner-btn:hover
{	background-color:#7b7b7b;	color:#FFF;}


.banner-btn-2
{	background-color:#5bb531;	color:#FFF; padding:5px 0px;}
.banner-btn-2:hover
{	background-color:#7b7b7b;	color:#FFF;}

/******banner*****/


@media screen and (max-width: 910px) and (min-width: 240px) {
.new-properties-brdr-btm 
{    border-bottom: 1px solid#dedcdc;    padding-top: 12% !important;}
.banner-group
{	float:left !important;	font-family: 'Noto Sans', sans-serif;	width:100% !important;border-right:none !important;	background-color:#FFF; margin-top:10px !important;}
.banner-group-1
{	float:left !important;	font-family: 'Noto Sans', sans-serif;	width:100% !important;border-right:none !important;	background-color:#FFF; margin-top:10px !important;}
.banner-group-2
{	float:left !important;	font-family: 'Noto Sans', sans-serif;	width:100% !important;	border-right:none;	background-color:#FFF; margin-top:10px !important;}
}


/******New Properties*****/
.brdr
{ border:1px solid#dedcdc; padding:15px;}

.brdr-new-1
{ border:1px solid#dedcdc; padding:0px 15px 15px 15px;}
.brdr-new-1-bg
{ background-color:#f9f9f9; padding-top:15px; border-bottom:1px solid#DDD;}

.brdr-1
{ border:1px solid#dedcdc;}
.brdr-2
{ border:1px solid#dedcdc; padding:0px;}

.new-properties-head
{ font-family: 'Noto Sans', sans-serif; font-size:12px; font-weight:bold; color:#686868; }
.new-properties-place
{ font-family: 'Noto Sans', sans-serif; font-size:10px; color:#515252;}
.new-properties-details
{ font-family: 'Noto Sans', sans-serif; font-size:8px; color:#515252; padding:5px;}
.new-properties-brdr-btm
{ border-bottom:1px solid#dedcdc;}
.new-properties-brdr-btm-2
{ border-bottom:1px solid#dedcdc;}
.form-ctrl-height
{  
   height:30px !important; 
   font-size:12px !important; 
   font-family: 'Noto Sans', sans-serif; 
   color:#4d4e50 !important; 
   padding:0px 0px 0px 3px !important;
   font-weight:normal;}






.btn-search
{ background-color:#4fb948; color:#FFF; padding:7px 10px 7px 10px !important;}
.btn-search:hover
{ background-color:#7b7b7b; color:#FFF;}
.btn-submit
{ background-color:#4fb948; color:#FFF; padding:8px 10px 8px 10px !important;}
.btn-submit:hover
{ background-color:#7b7b7b; color:#FFF;}

.btn-view
{ background-color:#4fb948; color:#FFF; padding:0px 10px 0px 10px !important;}
.btn-view:hover
{ background-color:#7b7b7b; color:#FFF; padding:0px 10px 0px 10px !important;}

.local-agent-head
{ font-family: 'Noto Sans', sans-serif; font-size:12px; font-weight:bold;  color:#515252;}
/******End New Properties*****/

.pc-green-txt
{ font-family: 'Noto Sans', sans-serif; font-size:14px;  color:#5bb531; font-weight:lighter;}
.paddng
{ padding:5px !important;}


a.house-hold-ink{font-family: 'Noto Sans', sans-serif; font-size:12px; color:#151515; font-weight:bold;}
.house-hold-ink:hover{font-family: 'Noto Sans', sans-serif; font-size:12px; color:#5cb533;}

.customer-review-head
{ font-family: 'Noto Sans', sans-serif; font-size:12px; color:#333; font-weight:bold; padding:5px 0 5px 0; }
.customer-review-font
{ font-family: 'Noto Sans', sans-serif; font-size:12px; color:#333;}



.property-news-head
{ background-color:#4c4d4d; color:#FFF; padding:7px; border:1px solid#ddd; border-bottom:none !important; font-family: 'Open Sans', sans-serif; font-size:18px; }
.property-news-head-2
{ font-family: 'Noto Sans', sans-serif; font-size:14px; color:#333; font-weight:bold; padding:5px 0 5px 0; }
.property-news-font
{ font-family: 'Noto Sans', sans-serif; font-size:14px; color:#333; padding:5px 0 5px 0;} 
.property-news-font-2
{ font-family: 'Noto Sans', sans-serif; font-size:14px; color:#848585; font-style:italic; padding:5px 0 5px 0;}


.arrow-brdr
{ border:1px solid#4fb948 !important; color:#4fb948 !important; margin-right:5px !important; margin-right:-10 !important;}

/*******************************************************End INDEX PAGE*******************************************************************/

/*******************************************************Start Property Detail Page*******************************************************************/
.property-detail-page-agent-info-font
{ color:#999c9e; font-family: 'Noto Sans', sans-serif; font-size:14px;}
.rw-mrgn{ margin:5px !important;}
.btn-agent
{ background-color:#4fb948; color:#FFF; padding:7px 15px !important; border:1px solid#999c9e; font-family: 'Open Sans', sans-serif; font-size:16px;}
.btn-agent:hover
{ background-color:#7b7b7b; color:#FFF;}
.related-property-fnt
{font-family: 'Open Sans', sans-serif; font-size:18px; padding:8px; border-bottom:1px solid#dedcdc;}
.related-property-place
{color:#141313; font-family: 'Noto Sans', sans-serif; font-size:16px; text-align:center;}
.related-property-miami
{color:#999c9e; font-family: 'Noto Sans', sans-serif; font-size:14px; text-align:center;}
.related-property-miami-brdr
{ border-bottom:2px solid#dedcdc; width:10%; text-align:center;} 
.related-property-price
{color:#2c72b8; font-family: 'Noto Sans', sans-serif; font-size:16px; text-align:center; font-weight:bold;}
.detail-bg
{ background-color:#f3f3f3; padding:5px;}
.detail-big-font
{color:#141313; font-family: 'Open Sans', sans-serif; font-size:24px;}
.detail-small-font
{color:#999c9e; font-family: 'Open Sans', sans-serif; font-size:18px; }
.detail-brdr-btm
{border-bottom:1px solid#141313; margin-top:15px;}
.detail-price
{color:#4fb948; font-family: 'Open Sans', sans-serif; font-size:22px; }
.detail-small-font-2
{color:#999c9e; font-family: 'Open Sans', sans-serif; font-size:14px; line-height:1.5em;   }
.detail-small-font-3
{color:#999c9e; font-family: 'Open Sans', sans-serif; font-size:14px;   }
.detail-map-height
{ height:250px !important; width:100%;}
.detail-property-fnt
{font-family: 'Open Sans', sans-serif; font-size:14px; padding:8px; }




.carousel {    margin-top: 17px;}
.item .thumb {    width: 20%;	cursor: pointer;	float: left; padding:5px;}
.item .thumb img {	width: 100%;	margin: 2px;}
.imge {	width: 100%;	}
.carshop-detail-head
{font-family: 'Open Sans', sans-serif; font-size:24px;  color:#4d4e50;}
.carshop-detail-body
{font-family: 'Open Sans', sans-serif;    font-size:16px !important; font-weight:normal !important; padding-left:10px;}
.carshop-detail-pricetext
{font-family: 'Open Sans', sans-serif; font-size:18px; color:#4d4e50; padding-left:30px; margin-top:30px;}
.input-carshop-detail {
    height: 30px;
    width: 10%;
    padding: 5px 10px 5px 20px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
	color:#4d4e50;
}
.btn-carshopdetail {
    color: #FFFFFF;
    background-color: #4fb948;
    border: 1px solid#FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-radius: 5px !important;
    padding: 10px 10px 10px 10px;
}
.btn-carshopdetail:hover
{ background-color:#4d4e50; color:#FFF;}

/********************slider****************/
.carshop-item{ border-radius: 5px;    background: #FFF;}

.carshop-item .photo img{ margin: 0 auto;  width: 100%;}

.carshop-item .info{ padding:0;    border-radius: 0 0 5px 5px;    margin-top: 1px;}

.carshop-item .price{ /*width: 50%;*/    float: left;    margin-top: 5px;}

.carshop-item .carshop-price { line-height: 20px;    margin: 0; color:#2c72b8 !important; font-size: 14px; font-weight:500;}

.carshop-price-text-color{    color: #219FD1; color:#4d4e50 !important; font-size: 14px; font-weight:500; padding-top:10px;}

.carshop-item .info .rating{    color: #777;}

.carshop-item .rating{    /*width: 50%;*/    float: left;    font-size: 17px;    text-align: right;    line-height: 52px;    margin-bottom: 10px;    height: 52px;}

.carshop-item .separator{   border-top: 1px solid #E1E1E1; }

.clear-left{    clear: left;}

.carshop-item .separator p{    line-height: 20px;    margin-bottom: 0;    margin-top: 10px;    text-align: center;}

.carshop-item .separator p i{    margin-right: 5px;}

.carshop-item .btn-add{    width: 50%;    float: left;}

.carshop-item .btn-add{    border-right: 1px solid #E1E1E1;}

.carshop-item .btn-details{    width: 50%;    float: left;    padding-left: 10px;}

.controls{    margin-top: 0px;}

[data-slide="prev"]{
    margin-right: 10px;}
.carshop-btn {    color: #2885E2;    background-color: #FFFFFF;    	border:1px solid#4d4e50;}
.control-btn{    padding: 2px 5px !important; border-radius:0px !important;}
/****************end slider***************/
/*******************************************************End Property Detail Page*******************************************************************/


/*******************************************************Start Market Place List*******************************************************************/
.market-place-head-bg{ background-color:#f5f5f5; font-family: 'Noto Sans', sans-serif; padding:10px 10px;}
.market-place-pddng{ padding-left:0px;}
.btn-view-detail{background-color: #4fb948;    color: #FFF;    padding: 5px 10px 5px 10px !important;	border-radius:0px !important;}
.btn-view-detail:hover{ background-color:#7b7b7b; color:#FFF;}
.new-properties-brdr-btm-2 {    border-bottom: 1px solid#dedcdc;    padding-top: 0%;}
.market-place-list-head {    font-family: 'Open Sans', sans-serif;    font-size: 16px;    font-weight: bold;}
.market-place-list-place {    font-family: 'Open Sans', sans-serif;    font-size: 13px;    color: #515252;}
.market-place-list-greenhead {    font-family: 'Open Sans', sans-serif;    font-size: 20px;    color: #4fb948;}
/*******************************************************Start Market Place List*******************************************************************/

/*******************************************************Start Post Ad Page*******************************************************************/
.post-add-box
{ background-color:#f4f4f4; border:1px solid#a2a2a2; min-height:50px;  border-radius:3px !important;  padding-top:10px;}
.post-add-box-font
{ font-family: 'Open Sans', sans-serif; font-size: 14px; color:#6c6b6b; padding-top:10px; }
.post-add-box-form-font
 {    font-family: 'Open Sans', sans-serif;    font-size: 18px;    color: #424242;    font-weight: 500;}
.post-add-box-form-font-redfont
{    font-family: 'Open Sans', sans-serif;    font-size: 14px;    color: #c42d1d;}

.post-add-selectbox 
{
    display: block;
    width: 100%;
    padding: 0px 2px;
    font-size: 14px;
    padding: 8px 0px 8px 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
    color: #999999;
    background-color: #f4f4f4;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	border-radius:3px !important;
}

.post-add-form-control 
{
	font-family: 'Open Sans', sans-serif;
	font-weight:400 !important;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #999999;
    background-color: #f4f4f4;
    border: 1px solid #e3e3e3;
    border-radius: 3px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.post-add-form-control-2
 {
	font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 32px !important;
    padding: 4px 16px;
    font-size: 14px !important;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
textarea
{ min-height:70px;}
.btn-post-add
 {
    background-color: #7b7b7b;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 3px !important;
    border: none !important;
    padding: 10px 10px 10px 10px;
}
.btn-post-add:hover
{ background-color:#454545;}
.post-add-post-head
{ background-color:#2381df; font-family: 'Open Sans', sans-serif; font-size: 18px; color:#FFF; border-radius: 3px !important; padding: 5px 0px 5px 0px;}
.post-add-post-body
{ background-color:#f4f4f4; font-family: 'Open Sans', sans-serif;  border-radius: 3px !important; border: 1px solid #e3e3e3; }
.post-add-list-font
{ font-family: 'Open Sans', sans-serif; font-size:12px; padding:0px 0px 0px 0px;}

/*******************************************************End Post Ad Page*******************************************************************/


/**********************************************Start Dash Board************************************************************************/
.profile {  margin: 20px 0; font-family: 'Open Sans', sans-serif;}

/* Profile sidebar */
.profile-sidebar {  padding: 20px 0 10px 0; font-family: 'Open Sans', sans-serif;}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  //-webkit-border-radius: 50% !important;
  //-moz-border-radius: 50% !important;
  //border-radius: 50% !important;
}
.profile-brdr{ border:1px solid#c3c3c3; background-color:#FFF; }
.profile-brdr-2{border: 1px solid#c3c3c3;    background-color: #FFF;    border-top: 5px solid#4FB948;}
.profile-usertitle {  text-align: center;  margin-top: 20px; font-family: 'Open Sans', sans-serif;}
.profile-usertitle-name {  color: #595959;  font-size: 16px;  font-weight:bold;  margin-bottom: 7px; font-family: 'Open Sans', sans-serif;}
.profile-usertitle-job {  text-transform: uppercase;  color: #5b9bd1;  font-size: 12px;  font-weight: 600;  margin-bottom: 15px; font-family: 'Open Sans', sans-serif;}
.profile-userbuttons {  text-align: center;  margin-top: 10px;}
.profile-userbuttons .btn {  text-transform: uppercase;  font-size: 11px;  font-weight: 600;  padding: 6px 15px;  margin-right: 5px; font-family: 'Open Sans', sans-serif;}
.profile-userbuttons .btn:last-child {  margin-right: 0px;}
.profile-usermenu {  margin-top: 30px;}
.profile-usermenu ul li {  border-bottom: 1px solid #c3c3c3; font-family: 'Open Sans', sans-serif;}
.profile-usermenu ul li:last-child {  border-bottom: none; font-family: 'Open Sans', sans-serif;}
.profile-usermenu ul li a {  color: #818282;  font-size: 16px;  font-weight: 400; font-family: 'Open Sans', sans-serif;}
.profile-usermenu ul li a:hover {  color: #818282;  color: #5b9bd1; font-family: 'Open Sans', sans-serif;}
.profile-usermenu ul li.active {font-family: 'Open Sans', sans-serif; color:#5bb531;}
.profile-usermenu ul li.active a {  color:#5bb531;  background-color: #FFF; font-family: 'Open Sans', sans-serif;}
.property-dash-head {  color: #595959;  font-size: 18px;  margin-bottom: 7px; font-family: 'Open Sans', sans-serif;}
/* Profile Content */
.profile-content {  padding: 20px; font-family: 'Open Sans', sans-serif;}

.tabl-head { background-color:#f4f4f4; font-family: 'Open Sans', sans-serif; text-align:center; font-size:18px;}
.tabl-txt {font-family: 'Open Sans', sans-serif; text-align:center; font-size:16px; border-bottom:1px solid#c3c3c3;}
.table-link{ color:#b8b1b1;}

/***********************************************************End Dash Board*****************************************************************/




/***********************************************************Start Merchant Directory*****************************************************************/
.merchant-directory
{ padding:10px 0 0 0 !important;}
.merchant-directory-list
{ list-style:none;	}
.merchant-directory-list > li > a
{font-family: 'Open Sans', sans-serif; font-size:15px; color:#4d4e50; line-height: 1.8;     font-weight: 500;}
.merchant-directory-list > li > a:hover
{ color:#4fb948;}
.merchant-directory-listbody
{ padding-bottom:20px; margin-bottom:20px;}
.blacklink
{ color:#4d4e50; font-size:14px; padding:0px;}

/*******Last Reviews*******/

.merchant-directory-lastreviews
{ background-color:#f4f4f4; border:1px solid#d0d0d1; font-family: 'Open Sans', sans-serif;}
.merchant-directory-head
{background-color:#686969; border:1px solid#d0d0d1; color:#FFF; font-size:16px; font-weight:bold; padding:10px 0px 10px 10px; font-family: 'Open Sans', sans-serif;}
a.merchant-directory-link
{font-family: 'Open Sans', sans-serif; font-size:20px; font-weight:lighter;  color:#2c72b8;}
p.merchant-directory-lastreviews
{ padding-top:10px;}
.merchant-directory-body-head
{font-family: 'Open Sans', sans-serif; font-size:16px; font-weight:bold; color:#686969;}
.merchant-directory-body-review
{font-family: 'Open Sans', sans-serif; font-size:12px; color:#686969;}
.merchant-directory-body-font
{font-family: 'Open Sans', sans-serif; font-size:14px; color:#686969;}
.merchant-directory-body-link
{font-family: 'Open Sans', sans-serif; font-size:14px; color:#2c72b8;}
.bordor-bottom-line
{ border-bottom:1px solid#686969;}
a.merchant-directory-bluelink
{font-family: 'Open Sans', sans-serif; font-size:20px; font-weight:lighter;  color:#4d4e50;}
.merchant-brdr
{ border:1px solid#dedcdc; padding:15px; margin-top:15px;}
.merchant-builerlink{color:#4d4e50 !important; font-weight:bold !important; font-family: 'Open Sans', sans-serif; font-size:16px !important;}
.merchant-builerlink:hover{color:#4fb948 !important;}
/***********************************************************End Merchant Directory*****************************************************************/



/*************************************************************************DEALER PAGE******************************************************************************************/

.dealer
{ font-family: 'Open Sans', sans-serif; font-size:25px; color:#424242;  padding-top: 30px; margin-bottom:20px;}
.dealer-box
{ background-color:#FFF; border:1px solid#cfcece; border-radius:3% !important; font-family: 'Open Sans', sans-serif; margin-bottom:20px;}
.dealer-name
{ color: #4fb948; font-family: 'Open Sans', sans-serif; font-size:18px; padding: 5px 0px 5px 0px;}
.dealer-body
{ font-family: 'Open Sans', sans-serif; font-size:12px; color:#424242;}
.btn-dealer 
{
    background-color: #4fb948;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 13px;
    border-radius: 3px !important;
    border: none !important;
    padding: 5px 10px 5px 10px;
	margin: 10px 0px 15px 0px;
}
.btn-dealer:hover
{ background-color:#454545;}
/*************************************************************************DEALER PAGE******************************************************************************************/

/***********************************************************Dealer Detail Page*********************************************************************************/
.dealer-detail-box-2
{ background-color:#F4F4F4; border:1px solid#d0d0d0; margin-top:30px; padding: 20px 0px 20px 10px; font-family: 'Open Sans', sans-serif;}
.dealer-detail-box
{ background-color:#FFF; border:1px solid#d0d0d0; margin-top:30px; padding: 20px 0px 20px 10px; font-family: 'Open Sans', sans-serif;}
.dealer-detail-box:hover
{ background-color:#F4F4F4;}
.dealer-left-border
{ border-left:1px solid#d0d0d0;}
.dealer-detail-dealer-name
{ color:#4e4e4f; font-family: 'Open Sans', sans-serif; font-size:20px; font-weight:500;}
.dealer-detail-dealer-font
{ font-family: 'Open Sans', sans-serif; font-size: 14px; color:#6c6b6b; padding-top:10px; }
.dealer-detail-carlist-box1
{ background-color:#f6f5f5; border-radius: 3px !important; margin-top:30px;}
.dealer-detail-carlist-box2
{ background-color:#eaf5ff; border-radius: 3px !important; margin-top:30px;}
.dealer-detail-carlist-box-head
{ font-family: 'Open Sans', sans-serif; font-size: 16px; color:#6c6b6b; padding-top:10px;}
.dealer-detail-carlist-box-body
{ font-family: 'Open Sans', sans-serif; font-size: 14px; color:#6c6b6b; padding-top:10px;}
.dealer-detail-price
{ font-family: 'Open Sans', sans-serif; font-size:20px; padding-top:30px; color: #4d4e50; }
.btn-dealer-detail
 {
    background-color: #ebecec;
    font-family: 'Open Sans', sans-serif;
    color: ##4d4e50;
    font-size: 14px;
    border-radius: 3px !important;
    border: none !important;
    padding: 7px 10px 7px 10px;
	border-radius: 3px !important;
	border:1px solid#d0d0d0 !important;
}
.btn-dealer-detail:hover
{ background-color:#4fb948 !important; color:#FFF !important; }
.btn-2-dealer-detail
 {
    background-color: #7f858b;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 14px;
    border-radius: 3px !important;
    border: none !important;
    padding: 7px 10px 7px 10px;
	border-radius: 3px !important;
	border:1px solid#d0d0d0 !important;
}
.btn-2-dealer-detail:hover
{ background-color:#ebecec !important; color:#7b7b7b !important; font-family: 'Open Sans', sans-serif; }
.dealer-detail-side-box-head
{ font-size:18px !important; border-top:1px solid#7f858b; margin-top:10px; font-family: 'Open Sans', sans-serif;}
.dealer-detail-sidebox
{ background-color:#f4f4f4; margin-top:30px; font-family: 'Open Sans', sans-serif;}
.dealer-detail-link
{ font-size:16px !important; font-weight:400 !important; font-family: 'Open Sans', sans-serif; color:#4d4e50;}
.dealer-detail-link:hover
{ font-size:16px !important; font-weight:400 !important; font-family: 'Open Sans', sans-serif; color:#4fb948;}

.dealer-detail-border-bottom
{ border-bottom:#7f858b !important;}
.dealer-detail-list
{ list-style:none; border-bottom:#7f858b !important; text-align:left !important; padding-left:15px;  font-family: 'Open Sans', sans-serif;}
.dealer-detail-side-box-head-2
{ font-size:20px !important; margin-top:10px; font-weight:500 !important;  font-family: 'Open Sans', sans-serif;}
.dealer-detail-hypr-link{ color:#4fb948;}


.font-label {font-family: 'Open Sans', sans-serif;    font-size:14px !important; font-weight:normal !important;}
.font-label-3 {font-family: 'Open Sans', sans-serif;    font-size:16px !important; font-weight:normal !important;}


.btn-merchant-directory-list-button {
    background-color: #454545;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    max-height: 25px;
    margin-bottom: 20px;
    font-size: 13px;
    border-radius: 3px !important;
    border: none !important;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
/*****************************************************End Dealer Detail Page*********************************************************************************/






  /****************************MY ACCOUNT *****************************/
  
  .label-c { color:#333 !important; }
  
  .change{ padding:15px 20px;}


   .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #4FB948;
	font-size: 20px;
    cursor: default;
    background-color: #fff;
    border:0px solid #ddd !important;
    border-bottom-color: transparent;
    }
    .nav-tabs>li>a { font-size: 20px;     color: #333; }
	
	
    .nav-tabs {
      border-bottom: 0px solid #ddd;
    }

    .nav-tabs > li > a:hover {
    border-color: #fff #fff #fff !important;
}

/**************************************Overseas*********************/


.imageHolder { position: relative;  } 
.imageHolder .caption {
	text-transform:capitalize;
	font-size: 18px; 
    padding: 10px 10px;
    bottom: 0px;
    left: 0px;
    color: #ffffff;
    background: #101010;
    text-align: center;
    font-weight: bold;
    /*opacity: 0.7;*/
 } 



/********************************Auction*******************************************/
.auction-bids{ color:#9b9a9b; font-size:14px; font-family: 'Open Sans', sans-serif;}
.auction-exp-date{color:#5c5d5d; font-size:14px; font-family: 'Open Sans', sans-serif;}
.auction-status{    font-family: 'Open Sans', sans-serif;    font-size: 20px;    color: #4fb948; text-align:center; padding:19px 0px;}
.edit{ color:#06F;}
.delete{ color:#F00;}
.view{ color:#999;}




.modal-header {
    padding: 12px !important;
}
.avd-serbg {
    background: #4fb948;
}
.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}


.bc3 {
    padding: 10px 66px;
    font-size: 16px;
}
.btn-login {
    /* border-bottom-color: #13b0e4; */
    background-color: #4fb948;
	color:#FFF;
	border:2px solid#4fb948;
}

.btn-login:hover {
    /* border-bottom-color: #13b0e4; */
    background-color: #FFF;
	color:#4fb948;
	border:2px solid#4fb948;
}


a.login-link{ color:#4fb948; font-size:12px;}
a.login-link:hover{ color:#333; font-size:12px;}

.login-font
{ font-family: 'Noto Sans', sans-serif; font-size:14px; color:#333; padding:5px 0 5px 0; font-weight:normal;} 

.loc{ padding-left:0; margin:10px 0;}
.loc li { list-style:none; font-size:12px; color:#333; }
.loc li a{ text-decoration:none; font-size:14px; color:#096603; }


/* The ribbons */

.corner-ribbon {
   width: 54px;
    background: #e43;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 25px;
    /* letter-spacing: 1px; */
    color: #f0f0f0;
    font-weight: bold;
}

/* Custom styles */

.corner-ribbon.sticky{
  position: absolute;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
  top: 50px;
    left: -1px;
    /* transform: rotate(-45deg); */
    /* -webkit-transform: rotate(-45deg); */
    z-index: 4;
}

.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left{
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}

.avatar2{ border:1px solid #ccc;}


.carousel-caption{background: none repeat scroll 0 0 rgba(0,0,0,0.6);
    color: white;
    height:73px;
    padding-left: 16px;
    padding-top: 11px;
    position: absolute;
    text-align: left;
    left: 0;
        bottom: 0;
    width: 100%;
    z-index: 1200;}
	
	.carousel-control.left {
    background-image: none;
    background-image:none;
    background-image:none;
    background-image:none;
    filter:  progid:DXImageTransform.Microsoft.gradient();
    background-repeat: repeat-x;
}
	
	.carousel-control.right {
    background-image: none;
    background-image:none;
    background-image:none;
    background-image:none;
    filter:  progid:DXImageTransform.Microsoft.gradient();
    background-repeat: repeat-x;
}
	
	
.head1 {
    font-size: 20px;
    height: 23px;
    width: 100%;
}


.nbs-flexisel-container {
position: relative;
max-width: 100%;
}
.nbs-flexisel-ul {
position: relative;
width: 9999px;
margin: 0px;
padding: 0px;
list-style-type: none;
text-align: center;
}
.nbs-flexisel-inner {
overflow: hidden;
float: left;
width: 100%;

border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}
.nbs-flexisel-item {
float: left;
margin: 0px;
padding: 0px;
cursor: pointer;
position: relative;
line-height: 0px;
}
.nbs-flexisel-item > img {
width: 100%;
cursor: pointer;
positon: relative;
margin-top: 10px;
margin-bottom: 10px;
max-width: 100px;
max-height:100px;
}
/*** <a href="http://www.jqueryscript.net/tags.php?/Navigation/">Navigation</a> ***/

.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {width: 22px;height: 22px;position: absolute;cursor: pointer;z-index: 100;opacity: 0.5;top: 87px ! important;}

.nbs-flexisel-nav-left {
left: 10px;
background: url(../../images/back.png) no-repeat;
}
.nbs-flexisel-nav-right {
right: 5px;
background: url(../../images/next.png) no-repeat;
}



.bank-account .panel
{
	border:1px solid#dadada; 
	border-radius: 3px;
	box-shadow: 5px 5px 5px #dadada;
}
.bank-account .panel .panel-head
{
	text-align:center;
	background-color:#4fb948;
	padding:10px;
	color:#FFF;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	font-weight:500;
}
.bank-account .panel table
{ border:none; }
table.b_account tr td:first-child:after
{
	content:" : ";
	padding-left:5px;
}


@media screen and (max-width: 1024px) and (min-width: 700px)  {  .banner-content{left: 3%;}}

@media screen and (max-width: 1920px) and (min-width: 1025px) { .banner-content{left: 3%;}}

@media screen and (max-width: 2500px) and (min-width: 1921px) {  .banner-content{left: 15%;}}

@media screen and (max-width: 3000px) and (min-width: 2501px) {  .banner-content{left: 20%;}}

@media screen and (max-width: 8000px) and (min-width: 3001px) {  .banner-content{left: 33%;}}